%html
  %audio{id:'dice_sound', src:random_dice_sound, autoplay:'autoplay'}
  %head
    %title Thornwatch Dice Roller
    %link(rel="stylesheet" href="http://yui.yahooapis.com/2.8.0r4/build/reset/reset-min.css")
    %link(rel="stylesheet" href="css/styles.css")
  %body
    %br
    %br
    %br
    %table.hcentered
      %tr
      - unless @roll_results[:ebb_count] == 0
        %td.boxed
          %table.ebb
            %tr
              %img.result_image{src:'/images/ebb.svg'}
            %tr
              %p.result
                = "x #{@roll_results[:ebb_count]}"
      - unless @roll_results[:miss_count] == 0
        %td.boxed
          %table.miss
            %tr
              %img.result_image{src:'/images/miss.svg'}
            %tr
              %p.result
                = "x #{@roll_results[:miss_count]}"
      - unless @roll_results[:hit_count] == 0
        %td.boxed
          %table.hit
            %tr
              %img.result_image{src:'/images/hit.svg'}
            %tr
              %p.result
                = "x #{@roll_results[:hit_count]}"
      - unless @roll_results[:doublt_hit_count] == 0
        %td.boxed
          %table.double_hit
            %tr
              %img.result_image{src:'/images/double_hit.svg'}
            %tr
              %p.result
                = "x #{@roll_results[:doublt_hit_count]}"
    / %hr
    %br
    %br
    %br
    .hcentered
      %a.button{href:'/die_select'} Roll again!
      / %hr
      / %a.button{href:'/roll_results_test'} TEST ROLLS
      / %hr
      / %button{onclick:"document.getElementById('dice_sound').play()" } TEST SOUND
